In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib as plt 
%matplotlib inline

In [2]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [6]:
df.shape

(7043, 21)

In [7]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

##### customerID

In [8]:
# Examining customerID column
print('Checking customerID column')
print('--------------------------')
print(df['customerID'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['customerID'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['customerID'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['customerID'].dtype,'\n\n')

Checking customerID column
--------------------------
0       7590-VHVEG
1       5575-GNVDE
2       3668-QPYBK
3       7795-CFOCW
4       9237-HQITU
           ...
7038    6840-RESVB
7039    2234-XADUH
7040    4801-JZAZL
7041    8361-LTMKD
7042    3186-AJIEK
Name: customerID, Length: 7043, dtype: object


Number of each values
--------------------------
4581-SSPWD    1
9606-PBKBQ    1
2176-OSJUV    1
5349-AZPEW    1
9688-YGXVR    1
             ..
8510-AWCXC    1
3556-BVQGL    1
1848-LBZHY    1
1658-TJVOA    1
6619-RPLQZ    1
Name: customerID, Length: 7043, dtype: int64


Number of missing values
--------------------------
0


Data type
--------------------------
object

**Dropping customerID from the dataframe as it is of no use**

In [9]:
df = df.drop('customerID', axis=1)

In [10]:
df.shape

(7043, 20)

##### gender

In [11]:
# Examining gender column
print('Checking gender column')
print('--------------------------')
print(df['gender'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['gender'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['gender'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['gender'].dtype,'\n\n')

Checking gender column
--------------------------
0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object


Number of each values
--------------------------
Male      3555
Female    3488
Name: gender, dtype: int64


Number of missing values
--------------------------
0


Data type
--------------------------
object

In [12]:
df['gender']=df.gender.replace('Female',1).replace('Male',0)

In [13]:
df.gender.value_counts()

0    3555
1    3488
Name: gender, dtype: int64

##### SeniorCitizen

In [14]:
# Examining SeniorCitizen column
print('Checking SeniorCitizen column')
print('--------------------------')
print(df['SeniorCitizen'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['SeniorCitizen'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['SeniorCitizen'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['SeniorCitizen'].dtype,'\n\n')

Checking SeniorCitizen column
--------------------------
0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: SeniorCitizen, Length: 7043, dtype: int64


Number of each values
--------------------------
0    5901
1    1142
Name: SeniorCitizen, dtype: int64


Number of missing values
--------------------------
0


Data type
--------------------------
int64

##### Partner

In [15]:
# Examining Partner column
print('Checking Partner column')
print('--------------------------')
print(df['Partner'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Partner'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Partner'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Partner'].dtype,'\n\n')

Checking Partner column
--------------------------
0       Yes
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041    Yes
7042     No
Name: Partner, Length: 7043, dtype: object


Number of each values
--------------------------
No     3641
Yes    3402
Name: Partner, dtype: int64


Number of missing values
--------------------------
0


Data type
--------------------------
object

In [16]:
df['Partner']=df.gender.replace('Yes',1).replace('No',0)

In [17]:
df.Partner.value_counts()

0    3555
1    3488
Name: Partner, dtype: int64

##### Dependents

In [18]:
# Examining Dependents column
print('Checking Dependents column')
print('--------------------------')
print(df['Dependents'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Dependents'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Dependents'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Dependents'].dtype,'\n\n')

Checking Dependents column
--------------------------
0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041     No
7042     No
Name: Dependents, Length: 7043, dtype: object


Number of each values
--------------------------
No     4933
Yes    2110
Name: Dependents, dtype: int64


Number of missing values
--------------------------
0


Data type
--------------------------
object

In [19]:
df['Dependents']=df.Dependents.replace('Yes',1).replace('No',0)

In [20]:
df.Dependents.value_counts()

0    4933
1    2110
Name: Dependents, dtype: int64